<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>YapYap</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.3</string>
	<key>CFBundleVersion</key>
	<string>46</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>YapYap needs accessibility access to paste transcribed text into your apps.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>YapYap needs microphone access to transcribe your voice into text.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>YapYap uses on-device speech recognition to transcribe your voice into text. All processing happens locally.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/sunboy/yapyap/main/Distribution/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>iXRP2Li+T5SP0N6vMl/1jD0TO6UY+3jTimjebUfimkQ=</string>
</dict>
</plist>
